<div class="main-container">
    <div class="login-container">
        <h2 class="title-login"><b>¡Bienvenido!</b> <br> Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
            <div>
                <input type="text" id="username" [(ngModel)]="correo_electronico" name="username" required
                    placeholder="Ingrese el Usuario" />
            </div>

            <div>
                <input type="password" id="password" [(ngModel)]="contrasenia" name="password" required
                    placeholder="Ingrese la Contraseña" />
            </div>


            <button type="submit">Entrar</button>
        </form>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </div>

    <div>
        <img src="https://images.pexels.com/photos/3114143/pexels-photo-3114143.jpeg" alt="" class="img-login">
    </div>

</div>