<div class="sale-container">
    <h2>Registrar Venta</h2>


    <div class="client-info">
        <label>Nombre del Cliente:</label>
        <input [(ngModel)]="clienteNombre" type="text" />

        <label>Teléfono:</label>
        <input [(ngModel)]="clienteTelefono" type="text" />
    </div>


    <button class="open-modal-btn" (click)="openModal()">Seleccionar Productos</button>


    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h3>Productos / Servicios</h3>
            <div class="products-grid">
                <div class="product-card" *ngFor="let producto of productos">
                    <img src={{producto.url_img}} alt="" class="img-product">
                    <div class="background-card"></div>

                    <span class="price-product">L. {{ producto.precio }}</span>
                    <header>
                        <h2>{{ producto.nombre }}</h2>
                    </header>


                    <p class="count-product">
                        Cantidad:
                        <input type="number" [value]="0" min="0" [max]="producto.stock"
                            (change)="agregarAlCarrito(producto, $any($event.target).valueAsNumber)" />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="cart">
        <h3>Detalle de la Venta</h3>
        <table>
            <thead>
                <tr>
                    <th>Producto/Servicio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of carrito">
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td>{{ p.precio * p.cantidad | currency }}</td>
                </tr>
            </tbody>
        </table>
        <h3>Total: {{ total | currency:'L.':'symbol'}}</h3>
    </div>


    <button (click)="registrarVenta()">Registrar Venta</button>


    <p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>
</div>